USE [SirFreedomTest1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Answer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdQuestion] [int] NOT NULL,
	[AnswerDescription] [varchar](500) NOT NULL,
	[Valid] [bit] NOT NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BestProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[imagetext] [ntext] NOT NULL,
	[brand] [varchar](50) NOT NULL,
	[title] [nvarchar](4000) NOT NULL,
	[price] [varchar](20) NOT NULL,
	[offer] [bit] NOT NULL,
	[flavor] [varchar](200) NOT NULL,
	[stock] [varchar](10) NOT NULL,
 CONSTRAINT [PK_BestProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dependency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_Dependency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ExamResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdDependency] [int] NOT NULL,
	[IdQuestionLevel] [int] NOT NULL,
	[Respuestas] [smallint] NOT NULL,
	[Total] [smallint] NOT NULL,
	[IpHost] [varchar](50) NULL,
 CONSTRAINT [PK_ExamResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FinalTestMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDependency] [int] NOT NULL,
	[Cod] [int] NOT NULL,
	[answersrangemin] [smallint] NOT NULL,
	[answersrangemax] [smallint] NOT NULL,
	[FinalTestMessageDescription] [varchar](500) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_FinalTestMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FinalTestMessageQuestionLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFinalTestMessage] [int] NOT NULL,
	[IdQuestionLevel] [int] NOT NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_FinalTestMessageLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HeadSlide](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[imagetext] [ntext] NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HeadSlide] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ImagenTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageText] [text] NOT NULL,
 CONSTRAINT [PK_ImagenTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inscripcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Carrera] [varchar](300) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[IdTipoInscripcion] [tinyint] NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[IsContacted] [bit] NULL,
	[IsError] [bit] NULL,
	[TimesContacted] [tinyint] NULL,
 CONSTRAINT [PK_Inscripcion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDependency] [int] NOT NULL,
	[QuestionDescription] [varchar](500) NOT NULL,
	[Cod] [varchar](50) NOT NULL,
	[IdQuestionLevel] [int] NOT NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QuestionLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDependency] [int] NOT NULL,
	[Cod] [int] NOT NULL,
	[QuestionLevelDescription] [varchar](50) NOT NULL,
	[Class] [varchar](50) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_QuestionLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDependency] [int] NOT NULL,
	[questionperpage] [tinyint] NOT NULL,
	[correctanswers] [tinyint] NOT NULL,
	[title] [varchar](250) NOT NULL,
	[subtitle] [varchar](250) NOT NULL,
	[instruction] [varchar](5000) NULL,
	[downloadtitle] [varchar](5000) NULL,
	[downloadlink] [varchar](5000) NULL,
	[preinstructiontitle] [varchar](250) NULL,
	[preinstruction] [varchar](5000) NULL,
	[IsDisabled] [bit] NOT NULL,
	[TimeInMinutes] [tinyint] NOT NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TipoInscripcion](
	[Id] [tinyint] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Texto] [nvarchar](500) NULL,
	[IsDisabled] [bit] NULL,
	[SinVacante] [nvarchar](500) NULL,
 CONSTRAINT [PK_TipoInscripcion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UsuarioDependency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdDependency] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioDependency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Answer] ON 

INSERT [Answer] ([Id], [IdQuestion], [AnswerDescription], [Valid], [IsDisabled]) VALUES (78, 1, N'Una monarquia parlamentaria', 1, 0)
INSERT [Answer] ([Id], [IdQuestion], [AnswerDescription], [Valid], [IsDisabled]) VALUES (79, 1, N'Una Republica federal', 0, 0)
INSERT [Answer] ([Id], [IdQuestion], [AnswerDescription], [Valid], [IsDisabled]) VALUES (80, 1, N'Una Monarquia federal', 0, 0)
GO
SET IDENTITY_INSERT [Answer] OFF
GO
SET IDENTITY_INSERT [BestProduct] ON 

SET IDENTITY_INSERT [BestProduct] OFF
GO
SET IDENTITY_INSERT [Dependency] ON 

INSERT [Dependency] ([Id], [Descripcion], [IsDisabled]) VALUES (1, N'TestSpainCitizen', 0)
INSERT [Dependency] ([Id], [Descripcion], [IsDisabled]) VALUES (2, N'Test', 0)
SET IDENTITY_INSERT [Dependency] OFF
GO
SET IDENTITY_INSERT [ExamResult] ON 

INSERT [ExamResult] ([Id], [IdUsuario], [IdDependency], [IdQuestionLevel], [Respuestas], [Total], [IpHost]) VALUES (1, 1, 1, 1, 15, 1, N'10.10.10.1')
INSERT [ExamResult] ([Id], [IdUsuario], [IdDependency], [IdQuestionLevel], [Respuestas], [Total], [IpHost]) VALUES (2, 1, 1, 0, 0, 25, N'200.61.165.178')
INSERT [ExamResult] ([Id], [IdUsuario], [IdDependency], [IdQuestionLevel], [Respuestas], [Total], [IpHost]) VALUES (3, 1, 1, 0, 0, 25, N'200.61.165.178')
SET IDENTITY_INSERT [ExamResult] OFF
GO
SET IDENTITY_INSERT [FinalTestMessage] ON 

INSERT [FinalTestMessage] ([Id], [IdDependency], [Cod], [answersrangemin], [answersrangemax], [FinalTestMessageDescription], [IsDisabled]) VALUES (1, 1, 1, -1, 0, N'Oye..!. no tienes ganas de hacer el examen? .. no has contestado ninguna.', 0)
INSERT [FinalTestMessage] ([Id], [IdDependency], [Cod], [answersrangemin], [answersrangemax], [FinalTestMessageDescription], [IsDisabled]) VALUES (2, 1, 2, 1, 14, N'No has aprobado el examen.. necesitas estudiar un poquito mas.. una vez mas.. y estas...', 0)
INSERT [FinalTestMessage] ([Id], [IdDependency], [Cod], [answersrangemin], [answersrangemax], [FinalTestMessageDescription], [IsDisabled]) VALUES (5, 1, 3, 15, 20, N'Felicitaciones!!! has aprobado el examen con exito. Aun asi te aconsejo que pruebes unas veces mas para tener todo mucho mas claro.', 0)
SET IDENTITY_INSERT [FinalTestMessage] OFF
GO
SET IDENTITY_INSERT [FinalTestMessageQuestionLevel] ON 

INSERT [FinalTestMessageQuestionLevel] ([Id], [IdFinalTestMessage], [IdQuestionLevel], [IsDisabled]) VALUES (1, 1, 1, 0)
INSERT [FinalTestMessageQuestionLevel] ([Id], [IdFinalTestMessage], [IdQuestionLevel], [IsDisabled]) VALUES (2, 1, 2, 0)
INSERT [FinalTestMessageQuestionLevel] ([Id], [IdFinalTestMessage], [IdQuestionLevel], [IsDisabled]) VALUES (3, 1, 3, 0)
SET IDENTITY_INSERT [FinalTestMessageQuestionLevel] OFF
GO
SET IDENTITY_INSERT [HeadSlide] ON 

SET IDENTITY_INSERT [HeadSlide] OFF
GO
SET IDENTITY_INSERT [ImagenTest] ON 

INSERT [ImagenTest] ([Id], [ImageText]) VALUES (1, N'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')
INSERT [ImagenTest] ([Id], [ImageText]) VALUES (2, N'Otro ejemplo de texto placeholder con 100 caracteres precisos. Utiliza letras mayúsculas, minúsculas y puntuación para simular datos reales en la tabla ImagenText.')
INSERT [ImagenTest] ([Id], [ImageText]) VALUES (3, N'Texto variado para inserción: incluye espacios, comas y puntos. Asegura longitud exacta de cien caracteres sin exceder ni faltar en el valor.')
SET IDENTITY_INSERT [ImagenTest] OFF
GO
SET IDENTITY_INSERT [Inscripcion] ON 

INSERT [Inscripcion] ([Id], [Nombre], [Carrera], [Telefono], [IdTipoInscripcion], [Fecha], [IsContacted], [IsError], [TimesContacted]) VALUES (12927, N'Julio', N'Licenciatura en Turismo y Conservación del Patrimonio', N'5491166570775', 4, CAST(N'2026-03-02T11:48:00' AS SmallDateTime), 0, 0, 1)
INSERT [Inscripcion] ([Id], [Nombre], [Carrera], [Telefono], [IdTipoInscripcion], [Fecha], [IsContacted], [IsError], [TimesContacted]) VALUES (12928, N'Lucrecia', N'Odontología', N'5491122369486', 3, CAST(N'2026-03-02T11:48:00' AS SmallDateTime), 0, 0, 1)
INSERT [Inscripcion] ([Id], [Nombre], [Carrera], [Telefono], [IdTipoInscripcion], [Fecha], [IsContacted], [IsError], [TimesContacted]) VALUES (12929, N'Dren', N'Licenciatura en Nutrición', N'5492236831864', 4, CAST(N'2026-03-02T11:48:00' AS SmallDateTime), 0, 0, 1)
GO
SET IDENTITY_INSERT [Inscripcion] OFF
GO
SET IDENTITY_INSERT [Question] ON 

INSERT [Question] ([Id], [IdDependency], [QuestionDescription], [Cod], [IdQuestionLevel], [IsDisabled]) VALUES (1, 1, N'España es', N'1001', 2, 0)
INSERT [Question] ([Id], [IdDependency], [QuestionDescription], [Cod], [IdQuestionLevel], [IsDisabled]) VALUES (2, 1, N'La ley fundamental de España se llama...', N'1002', 2, 0)
INSERT [Question] ([Id], [IdDependency], [QuestionDescription], [Cod], [IdQuestionLevel], [IsDisabled]) VALUES (3, 1, N'Segun la constitucion española, la soberania nacional reside en...', N'1003', 3, 0)
GO
SET IDENTITY_INSERT [Question] OFF
GO
SET IDENTITY_INSERT [QuestionLevel] ON 

INSERT [QuestionLevel] ([Id], [IdDependency], [Cod], [QuestionLevelDescription], [Class], [IsDisabled]) VALUES (1, 1, 0, N'Random', N'secondary', 0)
INSERT [QuestionLevel] ([Id], [IdDependency], [Cod], [QuestionLevelDescription], [Class], [IsDisabled]) VALUES (2, 1, 1, N'Facil', N'success', 0)
INSERT [QuestionLevel] ([Id], [IdDependency], [Cod], [QuestionLevelDescription], [Class], [IsDisabled]) VALUES (3, 1, 2, N'Medio', N'warning', 0)
SET IDENTITY_INSERT [QuestionLevel] OFF
GO
SET IDENTITY_INSERT [Setting] ON 

SET IDENTITY_INSERT [Setting] OFF
GO
INSERT [TipoInscripcion] ([Id], [Tipo], [Texto], [IsDisabled], [SinVacante]) VALUES (0, N'Historial', N'', 1, NULL)
GO
SET IDENTITY_INSERT [Usuario] ON 

INSERT [Usuario] ([Id], [Nombre], [Pass]) VALUES (1, N'Admin', N'1234')
SET IDENTITY_INSERT [Usuario] OFF
GO
SET IDENTITY_INSERT [UsuarioDependency] ON 

INSERT [UsuarioDependency] ([Id], [IdUsuario], [IdDependency]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [UsuarioDependency] OFF
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [Idn_Telefono] ON [Inscripcion]
(
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Idx_CodLevel] ON [QuestionLevel]
(
	[Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [UsuarioDependency] ADD  CONSTRAINT [UsuarioDepency_Unique] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdDependency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Answer] ADD  CONSTRAINT [DF_Answer_IsDisabled]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [Dependency] ADD  CONSTRAINT [DF_Dependency_IsDisabled]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [FinalTestMessage] ADD  CONSTRAINT [DF_FinalTestMessage_IsDisabled]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [FinalTestMessageQuestionLevel] ADD  CONSTRAINT [DF_FinalTestMessageQuestionLevel_IsDisabled]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [Inscripcion] ADD  CONSTRAINT [DF_Inscripcion_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [Inscripcion] ADD  CONSTRAINT [DF_Inscripcion_IsContacted]  DEFAULT ((0)) FOR [IsContacted]
GO
ALTER TABLE [Inscripcion] ADD  CONSTRAINT [DF_Inscripcion_IsError]  DEFAULT ((0)) FOR [IsError]
GO
ALTER TABLE [Inscripcion] ADD  CONSTRAINT [DF_Inscripcion_TimeContacted]  DEFAULT ((0)) FOR [TimesContacted]
GO
ALTER TABLE [Question] ADD  CONSTRAINT [DF_Question_IsDisabled]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [QuestionLevel] ADD  CONSTRAINT [DF_QuestionLevel_IsDisabled]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [Setting] ADD  CONSTRAINT [DF_Setting_IsDisabled]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [Setting] ADD  CONSTRAINT [DF_Setting_TimeInMinutes]  DEFAULT ((1)) FOR [TimeInMinutes]
GO
ALTER TABLE [Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([IdQuestion])
REFERENCES [Question] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [ExamResult]  WITH CHECK ADD  CONSTRAINT [FK_ExamResult_Dependency] FOREIGN KEY([IdDependency])
REFERENCES [Dependency] ([Id])
GO
ALTER TABLE [ExamResult] CHECK CONSTRAINT [FK_ExamResult_Dependency]
GO
ALTER TABLE [FinalTestMessage]  WITH CHECK ADD  CONSTRAINT [FK_FinalTestMessage_Dependency] FOREIGN KEY([IdDependency])
REFERENCES [Dependency] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [FinalTestMessage] CHECK CONSTRAINT [FK_FinalTestMessage_Dependency]
GO
ALTER TABLE [FinalTestMessageQuestionLevel]  WITH CHECK ADD  CONSTRAINT [FK_FinalTestMessageQuestionLevel_QuestionLevel] FOREIGN KEY([IdQuestionLevel])
REFERENCES [QuestionLevel] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [FinalTestMessageQuestionLevel] CHECK CONSTRAINT [FK_FinalTestMessageQuestionLevel_QuestionLevel]
GO
ALTER TABLE [Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_TipoInscripcion] FOREIGN KEY([IdTipoInscripcion])
REFERENCES [TipoInscripcion] ([Id])
GO
ALTER TABLE [Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_TipoInscripcion]
GO
ALTER TABLE [Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Dependency] FOREIGN KEY([IdDependency])
REFERENCES [Dependency] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Question] CHECK CONSTRAINT [FK_Question_Dependency]
GO
ALTER TABLE [Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_QuestionLevel] FOREIGN KEY([IdQuestionLevel])
REFERENCES [QuestionLevel] ([Id])
GO
ALTER TABLE [Question] CHECK CONSTRAINT [FK_Question_QuestionLevel]
GO
ALTER TABLE [QuestionLevel]  WITH CHECK ADD  CONSTRAINT [FK_QuestionLevel_Dependency] FOREIGN KEY([IdDependency])
REFERENCES [Dependency] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [QuestionLevel] CHECK CONSTRAINT [FK_QuestionLevel_Dependency]
GO
ALTER TABLE [Setting]  WITH CHECK ADD  CONSTRAINT [FK_Setting_Dependency] FOREIGN KEY([IdDependency])
REFERENCES [Dependency] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Setting] CHECK CONSTRAINT [FK_Setting_Dependency]
GO
ALTER TABLE [UsuarioDependency]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioDependency_Dependency] FOREIGN KEY([IdDependency])
REFERENCES [Dependency] ([Id])
GO
ALTER TABLE [UsuarioDependency] CHECK CONSTRAINT [FK_UsuarioDependency_Dependency]
GO
ALTER TABLE [UsuarioDependency]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioDependency_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [Usuario] ([Id])
GO
ALTER TABLE [UsuarioDependency] CHECK CONSTRAINT [FK_UsuarioDependency_Usuario]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Answer_Delete]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from Answer 
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Answer_Disabled]
@Id int,
@IsDisabled bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

update Answer set
IsDisabled = @IsDisabled 
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Answer_Get]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT TOP 1
a.[AnswerDescription] ,
a.[Id],a.[IdQuestion] ,
a.[Valid] FROM Answer a
WHERE 
a.Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Answer_Insert]
@AnswerDescription varchar(500),
@IdQuestion int,
@Valid bit = 0
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO Answer (AnswerDescription,IdQuestion,Valid) VALUES ( @AnswerDescription,@IdQuestion,@Valid ) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from Answer where Id = @Id


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Answer_Update] 
@AnswerDescription varchar(500),
@Id int,
@IdQuestion int,
@Valid bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE Answer SET
AnswerDescription = @AnswerDescription,
IdQuestion = @IdQuestion,
Valid = @Valid
WHERE 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [BestProduct_Delete]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from BestProduct
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [BestProduct_Get]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT TOP 1
p.[brand] ,
p.[flavor] ,
p.title,
p.[Id],
p.[imagetext] ,
p.[offer] ,
p.[price],
p.stock
FROM BestProduct p
WHERE 
p.Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [BestProduct_Insert]
@brand varchar(150),
@title nvarchar(4000),
@flavor varchar(150),
@imagetext ntext,
@offer bit,
@price varchar(20),
@stock varchar(20)
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO BestProduct 
(
	brand,flavor,imagetext,offer,price,title,stock
) 
VALUES 
(
	@brand,@flavor,@imagetext,@offer,@price,@title,@stock
) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from BestProduct where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [BestProduct_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
p.[brand] ,
p.title,
p.[flavor] ,
p.[Id],
p.[imagetext] ,
p.[offer] ,
p.[price],
p.stock
FROM BestProduct p

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Dependency_Delete]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from Dependency 
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Dependency_Disabled]
@Id int,
@IsDisabled bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

update Dependency set
IsDisabled = @IsDisabled
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Dependency_Get]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT TOP 1
d.[Descripcion] ,
d.[Id]FROM Dependency d
WHERE 
d.Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Dependency_Insert]
@Descripcion varchar(200)
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO Dependency (Descripcion) VALUES ( @Descripcion ) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from Dependency where Id = @Id



END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Dependency_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

Select
d.[Descripcion] ,
d.[Id]
FROM Dependency d
where d.IsDisabled = 0

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Dependency_Update] 
@Descripcion varchar(200),
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE Dependency SET
Descripcion = @Descripcion
WHERE 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ExamResult_Insert]
@IdDependency int,
@IdQuestionLevel int,	
@IdUsuario int,
@IpHost varchar(50),
@Respuestas smallint,
@Total smallint
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO ExamResult 
(
IdDependency,IdQuestionLevel,IdUsuario,IpHost,Respuestas,
Total
) 
VALUES 
(
@IdDependency,@IdQuestionLevel,@IdUsuario,@IpHost,@Respuestas,
@Total
) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from ExamResult where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ExamResult_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
e.[Id],e.[IdDependency] ,
e.[IdQuestionLevel] ,
e.[IdUsuario] ,
ISNULL(e.[IpHost] ,'') AS IpHost ,
e.[Respuestas] ,
e.[Total] 
FROM ExamResult e


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [FinalTestMessage_Delete]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from FinalTestMessage 
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [FinalTestMessage_Disabled]
@Id int,
@IsDisabled bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

update FinalTestMessage set
IsDisabled = @IsDisabled
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [FinalTestMessage_Get]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT TOP 1
f.[answersrangemax] ,
f.[answersrangemin] ,
f.[Cod] ,
f.[FinalTestMessageDescription] ,
f.[Id],f.[IdDependency] FROM FinalTestMessage f
WHERE 
f.Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [FinalTestMessage_Insert]
@answersrangemax smallint,
@answersrangemin smallint,
@Cod int,
@FinalTestMessageDescription varchar(500),
@IdDependency int
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO FinalTestMessage (answersrangemax,
answersrangemin,Cod,FinalTestMessageDescription,IdDependency) VALUES ( @answersrangemax,
@answersrangemin,@Cod,@FinalTestMessageDescription,@IdDependency ) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from FinalTestMessage where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

exec FinalTestMessage_Find 1

select * from questionlevel


*/
CREATE PROCEDURE [FinalTestMessage_ListByDependency]
@IdDependency int 
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS ON; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.


Select
f.Id,
f.Cod,
f.AnswersRangeMin,
f.AnswersRangeMax,
f.FinalTestMessageDescription,
STUFF((SELECT ' |' + convert(varchar,q.Cod) + '- ' + q.Class + '-'  + q.QuestionLevelDescription  from FinalTestMessageQuestionLevel l inner join QuestionLevel q on l.IdQuestionLevel = q.Id where l.IdFinalTestMessage = f.Id FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, LEN(' |'), '') as LevelDescription
From FinalTestMessage f 
where f.IdDependency = @IdDependency
and f.IsDisabled = 0



END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [FinalTestMessage_Update] 
@answersrangemax smallint,
@answersrangemin smallint,
@Cod int,
@FinalTestMessageDescription varchar(500),
@Id int,
@IdDependency int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE FinalTestMessage SET
answersrangemax = @answersrangemax,
answersrangemin = @answersrangemin,
Cod = @Cod,
FinalTestMessageDescription = @FinalTestMessageDescription,
IdDependency = @IdDependency
WHERE 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HeadSlide_Delete]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from HeadSlide
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HeadSlide_Insert]
@imagetext ntext,
@title varchar(50)
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO HeadSlide 
(
imagetext,title
) 
VALUES 
(
@imagetext,@title
) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from HeadSlide where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [HeadSlide_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
h.[Id],
h.[imagetext] ,
h.[title] 
FROM HeadSlide h

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [ImagenTest_Delete]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from ImagenTest where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [ImagenTest_Insert]
@ImagenTest text
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

insert into ImagenTest values (@ImagenTest)

set @Id = SCOPE_IDENTITY()  

select top 1 * from ImagenTest where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [ImagenTest_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
i.Id,
i.ImageText
FROM ImagenTest i

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*

SELECT * FROM Inscripcion WHERE IdTipoInscripcion = 7

exec Inscripcion_ChangeTipoInscripcion
@XmlInsert =
'<ds>
  <dt>
    <Telefono>5491128072427</Telefono>
  </dt>
  <dt>
    <Telefono>5492266576042</Telefono>
  </dt>
  <dt>
    <Telefono>5491121618794</Telefono>
  </dt>
  <dt>
    <Telefono>5493764105875</Telefono>
  </dt>
    <dt>
    <Telefono>5493705059343</Telefono>
  </dt>
    <dt>
    <Telefono>5493564337298</Telefono>
  </dt>
    <dt>
    <Telefono>5491151494686</Telefono>
  </dt>
    <dt>
    <Telefono>5492235892051</Telefono>
  </dt>
    <dt>
    <Telefono>5491127104218</Telefono>
  </dt>
    <dt>
    <Telefono>5491134541266</Telefono>
  </dt>
    <dt>
    <Telefono>5492932502462</Telefono>
  </dt>
    <dt>
    <Telefono>5492664189275</Telefono>
  </dt>
    <dt>
    <Telefono>5491156161896</Telefono>
  </dt>
    <dt>
    <Telefono>5493825587805</Telefono>
  </dt>
    <dt>
    <Telefono>5491127600025</Telefono>
  </dt>
    <dt>
    <Telefono>5491139018719</Telefono>
  </dt>
    <dt>
    <Telefono>5493873408304</Telefono>
  </dt>
  <dt>
    <Telefono>5493516504327</Telefono>
  </dt>
    <dt>
    <Telefono>5493735470870</Telefono>
  </dt>
    <dt>
    <Telefono>5492304309187</Telefono>
  </dt>
    <dt>
    <Telefono>5493515209927</Telefono>
  </dt>
    <dt>
    <Telefono>5492215613578</Telefono>
  </dt>
    <dt>
    <Telefono>5493624009426</Telefono>
  </dt>
    <dt>
    <Telefono>5492216047393</Telefono>
  </dt>
    <dt>
    <Telefono>5493434509207</Telefono>
  </dt>
    <dt>
    <Telefono>5493834222894</Telefono>
  </dt>
    <dt>
    <Telefono>5492617111871</Telefono>
  </dt>
 </ds>',
 @IdTipoInscripcion = 7
 
*/

CREATE PROCEDURE [Inscripcion_ChangeTipoInscripcion]
@XmlInsert xml,
@IdTipoInscripcion smallint
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

declare @idoc int --Declaracion de puntero

EXEC sp_xml_preparedocument @idoc OUTPUT, @XmlInsert --Inicia el puntero con la cabeza del multiarray xml.

create table #t (Telefono varchar(50) )
CREATE NONCLUSTERED INDEX Idx_Telefono ON #t(Telefono)

INSERT INTO #t (Telefono)
SELECT Telefono
FROM OPENXML(@idoc, '/ds/dt',1) 
WITH (
    Telefono VARCHAR(50) 'Telefono'
);

UPDATE Inscripcion  SET
	IdTipoInscripcion = @IdTipoInscripcion
FROM Inscripcion i
	INNER JOIN #t t
		ON i.Telefono = t.Telefono

END try

BEGIN CATCH
	set @MsgError = convert(varchar,ERROR_NUMBER()) + convert(varchar,ERROR_MESSAGE()) + convert(varchar,ERROR_SEVERITY()) + convert(varchar,ERROR_STATE()) + convert(varchar,ERROR_PROCEDURE()) + convert(varchar,ERROR_LINE())
	RAISERROR ( @MsgError ,16, 1 );
	return;
END CATCH;

drop table #t

END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	 
*/
CREATE PROCEDURE [Inscripcion_Contacted]
@Id int, 
@IsContacted bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE Inscripcion set
IsContacted = @IsContacted,
TimesContacted = case 
				 when @IsContacted = 1 then isnull(TimesContacted,0) + 1 
				 when @IsContacted = 0 then isnull(TimesContacted,0) -1 
				 end
where Id = @Id


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Inscripcion_Delete]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from Inscripcion

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	
*/
CREATE PROCEDURE [Inscripcion_Error]
@Id int, 
@IsError bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE Inscripcion set
IsError = @IsError,
TimesContacted = 0
where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*


select * from Inscripcion

EXEC [dbo].[Inscripcion_Find]
		@IdTipoContacto = 2,
		@Carrera = N'',
		@MM = 0,
		@YY = 0

*/
CREATE PROCEDURE [Inscripcion_Find]
	@IdTipoContacto smallint,
	@Carrera varchar(100) = '',
	@MM tinyint = 0,
	@YY smallint = 0
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
i.[Id],
i.[Nombre],
i.[Carrera],
ISNULL(i.[IsContacted] ,0) AS IsContacted,
ISNULL(i.[IsError] ,0) AS IsError,
case when len(i.[Telefono]) < 13 or len(i.[Telefono]) > 13 then 'ERROR' else 'Normal' end as TipoNumero,
t.Tipo as TipoContacto,
i.[Telefono],
convert(varchar,i.Fecha,103) as Fecha,
REPLACE(REPLACE(t.Texto, '#nombre', i.Nombre),'#carrera',i.Carrera  ) as texto,
REPLACE(REPLACE(t.SinVacante, '#nombre', i.Nombre),'#carrera',i.Carrera  ) as sinvacante
FROM Inscripcion i
	inner join TipoInscripcion t
on t.Id = i.IdTipoInscripcion
where 
(
	(t.Id = @IdTipoContacto) or (@IdTipoContacto = 0)
)
and
(
	(lower(i.[Carrera]) like '%' +lower(@Carrera) + '%' ) or (@Carrera = '')
)
and
(
	(
		month(i.Fecha) = @MM  and year(i.Fecha) = @YY
	)
	or 
	(
		@MM = 0 and @YY = 0
	)

)
order by i.IsContacted asc,Carrera desc, i.fecha asc 


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
exec Inscripcion_Insert
'<ds>
  <dt>
    <Nombre>Camila</Nombre>
    <Carrera>Licenciatura en Gestión de Organizaciones de Salud - Ciclo</Carrera>
    <Telefono>5491143662955</Telefono>
    <Fecha>2025-12-23T02:11:15</Fecha>
    <IdTipoInscripcion>1</IdTipoInscripcion>
  </dt>
  <dt>
    <Nombre>Natalia</Nombre>
    <Carrera>Licenciatura en Producción de Bioimágenes</Carrera>
    <Telefono>5495457973634</Telefono>
    <Fecha>2025-12-23T02:11:15</Fecha>
    <IdTipoInscripcion>1</IdTipoInscripcion>
  </dt>
 </ds>'

 
*/


CREATE PROCEDURE [Inscripcion_Insert]
@XmlInsert xml
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int
declare @TotalRows int 


BEGIN TRY
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

declare @idoc int --Declaracion de puntero

EXEC sp_xml_preparedocument @idoc OUTPUT, @XmlInsert --Inicia el puntero con la cabeza del multiarray xml.

create table #t (Nombre varchar(150), Carrera varchar(150),Telefono varchar(50), Fecha smalldatetime, IdTipoInscripcion smallint )
CREATE NONCLUSTERED INDEX Idx_Telefono ON #t(Telefono)

--insert into #t (Nombre,Carrera,Telefono)
--SELECT Nombre,Carrera,Telefono
--FROM OPENJSON(@JsonInsert)
--WITH ( Nombre varchar(150),  Carrera varchar(150),  Telefono varchar(50) );

BEGIN TRAN 

-- Regla de negocio 
-- nuevos de 1 a 2 dias pasan a contactados
-- contactados de 2 a 7 dias si son medicina bioquimica, odontologia, enfermeria pasan a recontactar
-- si soin contactados de 2 a 7 dias y son los sobrantes a supervision. 

update Inscripcion set
Iscontacted = 0,
IdTipoInscripcion = case 
					when IdTipoInscripcion = 1 and IsContacted = 1 and (DATEDIFF(day,Fecha,getdate()) >= 0 and DATEDIFF(day,Fecha,getdate()) < 4 )  
					then 2 
					when IdTipoInscripcion = 2 and IsContacted = 0 and (DATEDIFF(day,Fecha,getdate()) >= 2 and DATEDIFF(day,Fecha,getdate()) <= 7 )  
					and	(Carrera like '%Medi%' or Carrera like '%Bio%' or Carrera like '%Odont%' or Carrera like '%Enfer%'	)
					then 3 
					when IdTipoInscripcion = 2 and IsContacted = 0 and (DATEDIFF(day,Fecha,getdate()) >= 2 and DATEDIFF(day,Fecha,getdate()) <= 7 )
					and (Carrera not like '%Medi%' and Carrera not like '%Bio%' and Carrera not like '%Odont%' and Carrera not like '%Enfer%' )
					then 4
					when IdTipoInscripcion != 1 and IsContacted = 1
					then 0
					when IdTipoInscripcion = 6 and IsContacted = 0 
					then IdTipoInscripcion
					else IdTipoInscripcion
					end

INSERT INTO #t (Nombre, Carrera, Telefono,Fecha, IdTipoInscripcion )
SELECT Nombre, Carrera, Telefono, Fecha ,IdTipoInscripcion
FROM OPENXML(@idoc, '/ds/dt',1) 
WITH (
    Nombre VARCHAR(50) 'Nombre',    
    Carrera VARCHAR(300) 'Carrera',  
    Telefono VARCHAR(50) 'Telefono',
	Fecha varchar(50) 'Fecha',
	IdTipoInscripcion int 'IdTipoInscripcion'
);

--Elimino todos los datos de lo que voy a importar. 
delete from Inscripcion where Telefono in (select telefono from #t)


--insertamos los nuevos no duplicados
INSERT INTO Inscripcion (Nombre,Carrera,Telefono,Fecha,IdTipoInscripcion,IsContacted,IsError,TimesContacted)
select t.Nombre,t.Carrera,t.Telefono,t.Fecha,t.IdTipoInscripcion,0,0,0
from #t t 

select @TotalRows = @@ROWCOUNT

--Eliminamos los contactados mayores a una semana, o 15 dias depende el caso.
delete from Inscripcion where 
(
	(
		(IdTipoInscripcion = 0) or (IdTipoInscripcion = 1 ) or  (IdTipoInscripcion = 2) or (IdTipoInscripcion = 3) or (IdTipoInscripcion = 4) or (IdTipoInscripcion = 5) 
	)
	and 
	( 
		DATEDIFF(day,Fecha,getdate()) > 7 
	)
)
or 
(
	(
		(IdTipoInscripcion = 6) 
	)
	and 
	( 
		DATEDIFF(day,Fecha,getdate()) > 14
	)
)
or
(
	IsError = 1
)

COMMIT TRAN 

return @TotalRows


END try

BEGIN CATCH
	ROLLBACK
	set @MsgError = convert(varchar,ERROR_NUMBER()) + convert(varchar,ERROR_MESSAGE()) + convert(varchar,ERROR_SEVERITY()) + convert(varchar,ERROR_STATE()) + convert(varchar,ERROR_PROCEDURE()) + convert(varchar,ERROR_LINE())
	RAISERROR ( @MsgError ,16, 1 );
	return;
END CATCH;

drop table #t

END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Inscripcion_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
i.[Id],
i.[Carrera] ,
ISNULL(i.[IsContacted] ,0) AS IsContacted ,
i.[Nombre] ,
i.[Telefono] 
FROM Inscripcion i

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Question_Delete]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from Question 
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Question_Disabled]
@Id int,
@IsDisabled bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

update Question set
IsDisabled = @IsDisabled
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Question_Get]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT TOP 1
q.[Cod] ,
q.[Id],q.[IdDependency] ,
q.[IdQuestionLevel] ,
q.[QuestionDescription] FROM Question q
WHERE 
q.Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Question_Insert]
@Cod varchar(50),
@IdDependency int,
@IdQuestionLevel int,
@QuestionDescription varchar(500)
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO Question (Cod,IdDependency,IdQuestionLevel,QuestionDescription) VALUES ( @Cod,@IdDependency,@IdQuestionLevel,@QuestionDescription ) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from Question where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

exec Question_Find 1,0
*/

CREATE PROCEDURE [Question_ListByDependency]
@IdDependency int,
@CodLevel int = 0
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS ON; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

declare @QuestionPerPage int 

select @QuestionPerPage = s.QuestionPerPage from Setting s where s.IdDependency = @IdDependency

select top (@QuestionPerPage)
q.Id,
q.Cod,
q.QuestionDescription,
l.Cod as CodLevel,
STUFF((SELECT ' |' + a.AnswerDescription + case when a.Valid = 1 then ' -true' else ' -false' end FROM Answer a where a.IdQuestion = q.Id FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, LEN(' |'), '') as AnswerDescription
from Question q
inner join QuestionLevel l
	on l.Id = q.IdQuestionLevel
inner join Setting s 
	on s.IdDependency = q.IdDependency
where 
(
	q.IdDependency = @IdDependency
)
and
(
	( @CodLevel = 0 ) or ( l.Cod = @CodLevel)  
)
and 
(
	q.IsDisabled = 0
)
ORDER BY NEWID()




END try



BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Question_Update] 
@Cod varchar(50),
@Id int,
@IdDependency int,
@IdQuestionLevel int,
@QuestionDescription varchar(500)
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE Question SET
Cod = @Cod,
IdDependency = @IdDependency,
IdQuestionLevel = @IdQuestionLevel,
QuestionDescription = @QuestionDescription
WHERE 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [QuestionLevel_Delete]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from QuestionLevel 
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [QuestionLevel_Disabled]
@Id int,
@IsDisabled bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

update QuestionLevel set
IsDisabled = @IsDisabled
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [QuestionLevel_Get]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT TOP 1
q.[Class] ,
q.[Cod] ,
q.[Id],q.[IdDependency] ,
q.[QuestionLevelDescription] FROM QuestionLevel q
WHERE 
q.Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [QuestionLevel_Insert]
@Class varchar(50),
@Cod int,
@IdDependency int,
@QuestionLevelDescription varchar(50)
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO QuestionLevel 
(Class,Cod,IdDependency,QuestionLevelDescription) 
VALUES 
( @Class,@Cod,@IdDependency,@QuestionLevelDescription ) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from QuestionLevel where Id = @Id


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [QuestionLevel_ListByDependency]
@IdDependency int 
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

Select
q.Id,
q.Cod,
q.QuestionLevelDescription,
q.Class
From QuestionLevel q (nolock)
where q.IdDependency =  @IdDependency
and q.IsDisabled = 0

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [QuestionLevel_Update] 
@Class varchar(50),
@Cod int,
@Id int,
@IdDependency int,
@QuestionLevelDescription varchar(50)
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE QuestionLevel SET
Class = @Class,
Cod = @Cod,
IdDependency = @IdDependency,
QuestionLevelDescription = @QuestionLevelDescription
WHERE 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Setting_Delete]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

delete from Setting 
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Setting_Disabled]
@Id int,
@IsDisabled bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

update Setting set
IsDisabled = @IsDisabled
where 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Setting_Find]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
s.Id,
s.[IdDependency] ,
d.Descripcion as Dependency,
s.[correctanswers] ,
ISNULL(s.[downloadlink] ,'') AS downloadlink ,
ISNULL(s.[downloadtitle] ,'') AS downloadtitle ,
ISNULL(s.[instruction] ,'') AS instruction ,
ISNULL(s.[preinstruction] ,'') AS preinstruction ,
ISNULL(s.[preinstructiontitle] ,'') AS preinstructiontitle ,
s.[questionperpage] ,
s.[subtitle] ,
s.[title],
s.TimeInMinutes
FROM Setting s
inner join Dependency d
	on d.Id = s.IdDependency
where d.IsDisabled = 0

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Setting_Get]
@Id int

AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT TOP 1
s.Id,
s.Iddependency,
s.[correctanswers] ,
ISNULL(s.[downloadlink] ,'') AS downloadlink ,
ISNULL(s.[downloadtitle] ,'') AS downloadtitle ,
s.[Id],s.[IdDependency] ,
ISNULL(s.[instruction] ,'') AS instruction ,
ISNULL(s.[preinstruction] ,'') AS preinstruction ,
ISNULL(s.[preinstructiontitle] ,'') AS preinstructiontitle ,
s.[questionperpage] ,
s.[subtitle] ,
s.[title],
s.TimeInMinutes
FROM Setting s
WHERE 
s.Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Setting_GetByDependency]
	@IdDependency int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.


Select top 1
s.Id,
s.iddependency,
s.questionperpage,
s.correctanswers,
s.title,
s.subtitle,
s.instruction,
s.downloadtitle,
s.downloadlink,
s.preinstructiontitle,
s.preinstruction,
s.TimeInMinutes
From Setting s
where 
s.IdDependency = @IdDependency
and s.IsDisabled = 0 


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Setting_Insert]
@correctanswers tinyint,
@downloadlink varchar(5000),
@downloadtitle varchar(5000),
@IdDependency int,
@instruction varchar(5000),
@preinstruction varchar(5000),
@preinstructiontitle varchar(250),
@questionperpage tinyint,
@subtitle varchar(250),
@title varchar(250),
@TimeInMinutes tinyint = 1
AS
BEGIN
declare @MsgError varchar(100)
declare @Id int

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

INSERT INTO Setting (correctanswers,downloadlink,downloadtitle,IdDependency,instruction,preinstruction,preinstructiontitle,questionperpage,subtitle,title,TimeInMinutes) VALUES 
(@correctanswers,@downloadlink,@downloadtitle,@IdDependency,@instruction,@preinstruction,@preinstructiontitle,@questionperpage,@subtitle,@title,@TimeInMinutes ) 

set @Id = SCOPE_IDENTITY()  

select top 1 * from Setting where Id = @Id


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Setting_Update] 
@Id int,
@correctanswers tinyint,
@downloadlink varchar(5000),
@downloadtitle varchar(5000),
@IdDependency int,
@instruction varchar(5000),
@preinstruction varchar(5000),
@preinstructiontitle varchar(250),
@questionperpage tinyint,
@subtitle varchar(250),
@title varchar(250),
@TimeInMinutes tinyint = 1
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

UPDATE Setting SET
correctanswers = @correctanswers,
downloadlink = @downloadlink,
downloadtitle = @downloadtitle,
IdDependency = @IdDependency,
instruction = @instruction,
preinstruction = @preinstruction,
preinstructiontitle = @preinstructiontitle,
questionperpage = @questionperpage,
subtitle = @subtitle,
title = @title,
TimeInMinutes = @TimeInMinutes
WHERE 
Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [TipoInscripcion_Get]
@Id int
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.


SELECT 
Id,
Tipo,
Texto
FROM TipoInscripcion
where Id = @Id

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

exec TipoInscripcion_List

*/

CREATE PROCEDURE [TipoInscripcion_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
t.Id,
t.Tipo,
t.Texto
from TipoInscripcion t
--inner join Inscripcion i
--	on t.Id = i.IdTipoInscripcion
where 
t.Id > 0
--and IsContacted = 0
--group by t.Id, t.Tipo, t.Texto
--having count(*) > 0

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

exec TipoInscripcion_List

*/

CREATE PROCEDURE [TipoInscripcion_Menu]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
t.Id,
t.Tipo,
t.Texto
from TipoInscripcion t
inner join Inscripcion i
	on t.Id = i.IdTipoInscripcion
where 
t.Id > 0
and IsContacted = 0
and IsDisabled = 0
group by t.Id, t.Tipo, t.Texto
having count(*) > 0

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [TipoInscripcion_Update]
@Id int,
@Tipo varchar(50),
@Texto nvarchar(500),
@IsDisabled bit
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

update TipoInscripcion set
Tipo = @Tipo,
Texto = @Texto,
IsDisabled = @IsDisabled
where Id = @Id


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


SET ANSI_NULLS ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [UsuarioDependency_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

SELECT 
u.[Id],
u.[IdDependency],
u.[IdUsuario] 
FROM UsuarioDependency u

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END

SET ANSI_NULLS ON
GO
